# Summary Stats

## Get Database Connection

In [1]:
import sqlite3

import pandas as pd

In [2]:
pd.set_option('display.float_format', lambda x: f"{x:0.1f}")

connection = sqlite3.connect("../clinical_trials.db")
cursor = connection.cursor()

## Read & Display Summary Stats

In [3]:
df = pd.read_sql_query("SELECT EnrollmentCount FROM Study", connection)

In [6]:
pd.set_option('display.float_format', lambda x: f"{x:0.1f}")
df.describe()

       EnrollmentCount
count         492092.0
mean            5359.8
std           482384.8
min                0.0
25%               30.0
50%               69.0
75%              198.0
max        188814085.0